{% extends "content_with_sidebar.html" %}

{% block content_title %}Call for Posters{% endblock %}
{% block main_content %}
<p>DIMVA 2015 is soliciting submissions of posters describing work in
progress or innovative ideas in an early stage. We especially encourage
thought-provoking approaches from students to reexamine older
assumptions made in the community. We also welcome submissions from
papers accepted into the proceedings to also be presented and discussed
as a poster to further encourage the interactions between the speakers
and the attendees at the conference.</p>

<p>Poster submissions need to be formatted as an extended abstract (one
page) with a PDF of the proposed poster as the second page. Poster
titles should be prefixed with “Poster abstract”.</p>

<p>Accepted posters can then be presented (printed on a A0 paper) at the
conference during the welcome reception on July 8th.</p>

<h2>Important Dates</h2>

<ul>
    <li><strong>Poster submission deadline:</strong> June 2, 2015</li>
    <li><strong>Poster notification:</strong> June 7, 2015</li>
    <li><strong>Poster session:</strong> July 8th afternoon, 2015</li>
    <li><strong>Main conference:</strong> July 9-10, 2015</li>
</ul>

<h2>Submission</h2>
<p><a href="https://easychair.org/conferences/?conf=dimva2015">EasyChair submission</a></p>

{% endblock %}
