{% extends "layout.html" %}

{% block content %}
<div class="container content">
  <h1>Committees</h1>

  <div class="row">
    <div class="col-md-8">
      <h2 id="org">Organizing Committee</h2>
      <h3>Chairs</h3>
      <ul>
        <li><strong>General Chair:</strong> <a href="mailto:info@dimva.org">Federico Maggi</a>, Politecnico di Milano</li>
      </ul>

      <hr />

      <h2 id="steering">Steering Committee</h2>
      <h3>Chairs</h3>
      <ul>
        <li>Ulrich Flegel, Infineon, Germany</li>
        <li>Michael Meier, University of Bonn, Germany</li>
      </ul>
      <h3>Members</h3>
      <ul>
        <li>Lorenzo Cavallaro, Royal Holloway, University of London</li>
        <li>Sven Dietrich, City University of New York</li>
        <li>Herbert Bos, Vije Universiteit Amsterdam, the Netherlands</li>
        <li>Danilo M. Bruschi, Universita degli Studi di Milano, Italy</li>
        <li>Roland Bueschkes, RWE AG, Germany</li>
        <li>Herve Debar, Telecom SudParis, France</li>
        <li>Bernhard Haemmerli, Acris GmbH &amp; HSLU Lucerne, Switzerland</li>
        <li>Marc Heuse, Baseline Security Consulting, Germany</li>
        <li>Thorsten Holz, Ruhr-Universitaet Bochum, Germany</li>
        <li>Marko Jahnke, Fraunhofer FKIE, Germany</li>
        <li>Klaus Julisch, Deloitte, Switzerland</li>
        <li>Christian Kreibich, ICSI, USA</li>
        <li>Christopher Kruegel, UC Santa Barbara, USA</li>
        <li>Pavel Laskov, University of Tuebingen, Germany</li>
        <li>Konrad Rieck, University of Goettingen, Germany</li>
        <li>Robin Sommer, ICSI/LBNL, USA</li>
        <li>Diego Zamboni, CFEngine AS, Norway</li>
      </ul>
    </div>
  </div>
</div>
{%- endblock %}
