{% extends "layout.html" %}

{% block content %}
<div class="container content">
  <h1>Contacts</h1>

  <div class="row">
    <div class="col-md-8">
      <h2>Venue address</h2>
      <p>The exact address of the conference location is:</p>

      <div class="well">
      <address>
        <strong>Politecnico di Milano</strong><br />
        Piazza Leonardo da Vinci 32<br>
        20133 Milano<br /
      </address>
      </div>

      <h2>Email contacts</h2>
      <p>If you have inquiries, email is usually the best choice:</p>

      <ul>
        <li><strong>General chair:</strong> For inquiries about the
        logistical and organizational aspects (e.g., location, travel,
        invitation letters), please write an email
        to <a href="mailto:info@dimva.org">info@dimva.org</a>.</li>

        <li><strong>Sponsors:</strong> If you are interested in
        becoming a sponsor, please write an email to
        <a href="mailto:sponsor-chair@dimva.org">sponsor-chair@dimva.org</a>.</li>

        <li><strong>Website:</strong> If you encounter any issues with
        the website or have suggestions, please contact
        <a href="mailto:web-chair@dimva.org">web-chair@dimva.org</a>.</li>
      </ul>

      <h2>Phone numbers</h2>
      <p>Here are some useful phone numbers:</p>
      <ul>
        <li><strong>General chair:</strong> +39 02 23994174</li>
        <li><strong>Tourist info:</strong> +39 02 77402416</li>
        <li><strong>Emergency:</strong> <i class="fa
        fa-fire-extinguisher"></i> 115
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-cab"></i>
        113&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-ambulance"></i>
        118</li>
      </ul>
    </div>
  </div>
</div>
{%- endblock %}
