{% extends "layout.html" %}

{% block content %}
<div id="myCarousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="static/img/slider/11103229636_ed31cb8fa1_o.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/robertotaddeo/11103229636">Roberto Taddeo</a></small></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="static/img/slider/14133669368_7edb33ea78_o.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/dexxus/14133669368">Paul Bica</a></small></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="static/img/slider/4112762696_0722e3b27d_o.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/evanblaser/4112762696">Evan Blaser</a></small></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="static/img/slider/5611753590_38f8095c11_o.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/br1dotcom/5611753590">Bruno Cordioli</a></small></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="static/img/slider/6933056736_577105a435_o.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/22746515@N02/6933056736">Bert Kaufmann</a></small></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="static/img/slider/6568825715_19b26d5b64_o.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p class="pull-right"><small>Photo by <a href="https://www.flickr.com/photos/br1dotcom/6568825715">Bruno Cordioli</a></small></p>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="container">
  <h1>DIMVA 2015 <small>Milano, Italy on XX&mdash;YY July</small></h1>

  <p class="lead">The annual DIMVA conference serves as a premier forum for advancing the state of the art in intrusion detection, malware detection, and vulnerability assessment. Each year, DIMVA brings together international experts from academia, industry, and government to present and discuss novel research in these areas.</p>

  <p>DIMVA is organized by the special interest group <a href="http://www.gi-fg-sidar.de/">Security – Intrusion Detection and Response (SIDAR)</a> of the <a href="http://www.gi-ev.de/english/at-a-glance/">German Informatics Society (GI)</a>. The conference proceedings will appear in Springer <a href="http://www.springer.com/computer/security+and+cryptology/">Lecture Notes in Computer Science (LNCS)</a> 8850 series
  </p>
</div>
{%- endblock %}
