{% extends "content_with_sidebar.html" %}

{% block content_title %}Registration{% endblock %}

{% block main_content %}
   <p>Conference registration includes admission to all conference sessions, proceedings, selected meals, and refreshment breaks throughout the event, including the welcome happy hour. Optionally, you can purchase a one-person ticket to the social event.</p>

   <br />

   <div class="alert alert-info" role="alert">
     <p>Registration will open on <strong>April 1st</strong>. Stay tuned!</p>
   </div>

   <h3>Instructions</h3>
   <p>You will receive your ticket via email as a PDF attachment. To
     ease the check-in procedure at the conference opening, please
     bring the PDF with you. No, you're not required to print it.</p>

   <h3>Discounted Tickets</h3>
   <p>We offer a 15% discount to GI, IEEE, and IEEE CS members and 20%
     discount to BSs and MSc students. By purchasing a discounted
     ticket, you declare that you are currently member of one of these
     societies or that you are a student, respectively. We may ask you
     to provide credentials.</p>

   <iframe src="//eventbrite.com/tickets-external?eid=15419376771&ref=etckt" frameborder="0" height="1024" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>

{% endblock %}
