{% extends "content_with_sidebar.html" %}

{% block content_title %}Registration{% endblock %}

{% block main_content %}
   <p>Conference registration includes admission to all conference sessions, proceedings, selected meals, and refreshment breaks throughout the event, including the welcome happy hour. Optionally, you can purchase a one-person ticket to the social event.</p>

   <br />

   <div class="alert alert-info" role="alert">
     <p>Registration will open on <strong>April 1st</strong>. Stay tuned!</p>
   </div>

   <h3>Instructions</h3>
   <p>You will receive your ticket via email as a PDF attachment. To
     ease the check-in procedure at the conference opening, please
     bring the PDF with you. No, you're not required to print it.</p>

   <h3>Discounted Tickets</h3>
   <p>Multiple tickets can be purchased with a single order.</p>

   <p>Extra copies of the proceedings and conference bag can be
purchased separately during the checkout procedure.</p>

   <p>BSc, MSc and PhD students tickets (20% discount) will be granted
access only upon showing proof of status (e.g., student ID card) at
the registration desk.</p>

   <p>GI and IEEE members (15% discount) are requested to fill in their
membership details during the registration.</p>

   <iframe src="//eventbrite.com/tickets-external?eid=15419376771&ref=etckt" frameborder="0" height="1024" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>

{% endblock %}
