{% extends "content_with_sidebar.html" %}

{% block content_title %}Registration{% endblock %}

{% block main_content %}
   <p>Conference registration includes admission to all conference sessions, proceedings, selected meals, and refreshment breaks throughout the event, including the welcome happy hour. Optionally, you can purchase a one-person ticket to the social event.</p>

   <h3>Instructions</h3>
   <p>Multiple tickets can be purchased with a single order or at the conference site.</p>

   <p>Extra copies of the proceedings and conference bag can be
purchased separately during the checkout procedure.</p>

   <h3>Special tickets</h3>
   <p>Student-only tickets and students-discounted tickets (20% off)
will be accepted at the conference only upon showing proof of status
(e.g., student ID card) at the registration desk.</p>

   <p>GI and IEEE members (15% discount) are requested to fill in their
membership details during the registration.</p>

  <div style="height: 100%; width:100%; text-align:left;">
    <iframe  src="//eventbrite.com/tickets-external?eid=15419376771&ref=etckt" frameborder="0" height="1200" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://dimva2015.eventbrite.com/?ref=etckt">DIMVA 2015</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div>
  </div>

{% endblock %}
