{% extends "layout.html" %}
{% from 'snippets/sponsors.html' import show_sponsors %}

{% block content %}
<div class="container content">
  <h1 id="venue">Venue <small>POLITECNICO DI MILANO</small></h1>

  <p>DIMVA will be hosted
    by <a href="http://www.polimi.it/en/">Politecnico di Milano</a>
    and organized by the System Security Group of
    the <a href="http://necst.it">NECSTLab</a> at
    the <a href="http://www.deib.polimi.it">Dipartimento di
    Elettronica, Informazione e Bioingegneria</a> (DEIB), in
    collaboration with <a href="http://www.techandlaw.net">Tech and
    Law Center</a>.</p>

  <p>The DEIB aims at being a world-class scientific institution
    committed to forefront research, education, and technology
    transfer in computer science and engineering, electronica, system
    and control, telecommunications and bioengineering.  In particular
    the Departement deals with Information security and safety
    analysis.  Research in security considers privacy in service
    systems and clouds, confidentiality and integrity in power grids,
    and integrated IS architectural solutions. Safety analysis and
    risk awareness in work environments are other research issues,
    centered on architectures for risk awareness based on sensors,
    wearable services, risk prevention strategies, and
    interoperability among technological platforms. Research is based
    on simulation software for self-healing and autonomous
    systems.</p>

  <p>Politecnico di Milano is one of the most outstanding universities
    in Europe, ranked 28th in the world and 9th in Europe among
    technical universities, according to the QS World University
    Ranking – Engineering &amp; Technology 2013. Founded in 1863,
    Politecnico di Milano is the largest school of architecture,
    design and engineering in Italy, with three main campuses located
    in Milan and five more branches around the Lombardy region.</p>

  <p>Many important scientists and architects studied and taught here,
    among them Achille Castiglioni, Gio Ponti, Gae Aulenti, Renzo
    Piano and Aldo Rossi, both Pritzker Prize in 1990 and 1998
    respectively, and Giulio Natta, Nobel Prize in Chemistry in
    1963.</p>

  <hr />

  <h2 id="travel">Travel Info <small>GETTING TO MILAN</small></h2>
  <p>Milan is well connected with three airports
    (<a href="http://www.milanolinate-airport.com/en">LIN</a>, <a href="http://www.orioaeroporto.it/Airpor/portalProcess.jsp?languageID=2">BGY</a>, <a href="http://www.milanomalpensa-airport.com/en">MXP</a>)
    and two major train stations (Milano Centrale, Milano Porta
    Garibaldi).</p>

  <div class="row">
    <div class="col-md-6">
      <h3>By Air</h3>
      <p>As you are likely to land in Malpensa, Linate or Orio al Serio
        airports, you will reach the Milan city center following these
        suggestions.</p>

      <h4>From Linate Airport (LIN) <span class="label label-default">recommended</span></h4>
      <h5>Option 1</h5>
      <ol>
        <li>Take bus No. 73 toward "San Babila" for 8 stops (hop off at
          "Viale Campania, Viale Corsica").</li>
        <li>Then take bus No. 93 toward "Isonzo - Lotto" for 6 stops
          (hop off at "Viale Romagna, Piazzale Gabrio Piola").</li>
        <li>Walk for about 300 meters toward Piazza Leonardo da Vinci.</li>
      </ol>

      <h5>Option 2</h5>
      <ol>
        <li>At the arrivals exit n. 6,
        take <a http="http://www.atm-mi.it/en/AltriServizi/Trasporto/Pages/airbus.aspx">Air
        Bus Centrale Railway Station</a> (about 5&euro;, 25 minutes)
        to Milano Centrale, which is the last of two stops.</li>
        <li>Take subway line 2 (green line) toward either Cascina
        Gobba, Gessate or Cologno Nord and follow the "By Metro"
        instructions and follow the "By Metro" instructions.</li>
      </ol>

      <h4>From Malpensa Airport (MXP)</h4>
      <h5>Option 1 (<a href="http://www.malpensaexpress.it">Malpensa
          Express train</a>) <span class="label
          label-default">recommended</span></h5>
      <ol>
        <li>At the arrivals level there are</li>
        <li>Take any Malpensa Express train toward either Milano
        Cadorna or Milano Centrale</li>
        <li>Take subway line 2 (green line) toward either Cascina
        Gobba, Gessate or Cologno Nord and follow the "By Metro"
        instructions and follow the "By Metro" instructions.</li>
      </ol>

      <h5>Option 2 (bus service to railway station)</h5>
      <ol>
        <li>Take the Malpensa Express train toward either Milano Cadorna
          or Milano Centrale</li>
        <li>Once there, take subway line 2 (green line) toward either
        Cascina Gobba, Gessate or Cologno Nord and follow the "By Metro"
        instructions.</li>
      </ol>

      <h4>From Orio al Serio Airport (BGY)</h4>
      <ol>
        <li>Take
        the <a href="http://www.terravision.eu/milan_bergamo.html">Terravision
        Bus</a> (5&euro;, 60 minutes) to Centrale Railway Station and
        get off at the last stop. You can pre-book a ticket.</li>

        <li>Take subway line 2 (green line) toward either Cascina
        Gobba, Gessate or Cologno Nord and follow the "By Metro"
        instructions and follow the "By Metro" instructions.</li>
      </ol>
    </div>

    <div class="col-md-6">
      <div><iframe style="border: 0;" src="https://mapsengine.google.com/map/embed?mid=zsw_26iW-G98.kQ-iud8VL18E" width="100%" height="500px"></iframe></div>

      <h3>By Train</h3>
      <p>The nearest train stations are Milano Centrale and Milano Porta
        Garibaldi. Both are directly connected to Politecnico di Milano
        through metro line 2 (green line).</p>

      <p>There are two main railways in Italy, which
        are <a href="http://www.trenitalia.com/">Trenitalia</a>
        and <a href="http://www.italotreno.it/EN">Italo</a>.</p>

      <h3>By Metro</h3>
      <p>Within the downtown area, a ticket costs 1.50&euro;
      (called <a href="http://www.atm.it/en/ViaggiaConNoi/Biglietti/Pages/Biglietti%20Urbani.aspx">Urban
      ticket</a>) and you can use it for a single trip on the
      underground. It has a validity of 90 minutes after stamping.</p>

      <p>Politecnico di Milano is at 10' walking distance
      from <strong>Piola</strong> or <strong>Lambrate F.S.</strong>
      stops, which are both on line 2 (green line). The latter is also
      a small train station.</p>

      <p><a href="http://www.atm.it/en/" class="btn btn-default"><i class="fa fa-link"></i> ATM website</a> <a href="/static/d/metro-map.pdf" class="btn btn-default"><i class="fa fa-download"></i> Download map (PDF)</a></p>
    </div>
  </div>

  <hr />

  <h2 id="accomodation">Accomodation</h2>
  <p>We propose the following accomodation options. Price ranges are not official and may change depending on many factors.</p>

  {% include "snippets/book.html" %}

  <h3>Available blocked rooms <span class="label label-warning">Deadline: June 6th, 2015</span></h3>
  <p>We have an agreement with the following hotels. Make sure that you reserve before the deadline!</p>
  <div class="row">
    <div class="col-md-4">
        <div class="well hotel-info">
            <h4>Hotel Gamma <small><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></small> <span data-toggle="tooltip" data-placement="top" title="" class="label label-primary" data-original-title="DIMVA2015">DISCOUNT CODE</span>
</h4>
            <i class="fa fa-money"></i>&nbsp;&nbsp;80€ (single)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;95€ (double, one guest)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;125€ (double, two guests)<br>

            <br />

            <i class="fa fa-phone"></i>&nbsp;&nbsp;+39 02 26413152<br>
            <i class="fa fa-fax"></i>&nbsp;&nbsp;+39 02 2640255<br>
            <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://hotelgammamilano.it/en/">hotelgammamilano.it</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well hotel-info">
            <h4>Hotel Lombardia <small><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></small> <span data-toggle="tooltip" data-placement="top" title="" class="label label-primary" data-original-title="DIMVA2015">DISCOUNT CODE</span></h4>
            <i class="fa fa-money"></i>&nbsp;&nbsp;85€ (single)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;100€ (double, one guest)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;135€ (double, two guests)<br>

            <br />

            <i class="fa fa-phone"></i>&nbsp;&nbsp;+39 02 2892515<br>
            <i class="fa fa-fax"></i>&nbsp;&nbsp;+39 02 2893430<br>
            <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.hotellombardia.com">www.hotellombardia.com</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well hotel-info">
            <h4>Hotel Dieci <small><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></small> <span data-toggle="tooltip" data-placement="top" title="" class="label label-primary" data-original-title="DIMVA2015">DISCOUNT CODE</span></h4>
            <i class="fa fa-money"></i>&nbsp;&nbsp;95€ (single)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;125€ (double, one guest)<br>
            <i class="fa fa-money"></i>&nbsp;&nbsp;165€ (double, two guests)<br>

            <br />

            <i class="fa fa-phone"></i>&nbsp;&nbsp;+39 02 70608180<br>
            <i class="fa fa-fax"></i>&nbsp;&nbsp;+39 02 26684206<br>
            <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.hoteldieci.it/site_en.html">www.hoteldieci.it</a>
        </div>
    </div>
  </div>

  <h3>Obtaining reasonable rates in other hotels or after the deadline</h3>
  <p>In addition to booking in advance, we recommend to mention that the
  reservation is for an <strong>event hosted by Politecnico di Milano</strong>.
  Since the hotels have been selected by our media office, they
  usually give good rates for our guests.</p>

  <div class="row">
  {% for h in hotels %}
  <div class="col-md-4">
    <div class="well hotel-info">
      <h4>{{ h.name }} <small>{% for s in range(0, h.stars) %}<i class="fa fa-star"></i>{% endfor %}</small></h4>
      {% if h.price %}
      <i class="fa fa-money"></i>&nbsp;&nbsp;{{ h.price[0] }}&mdash;{{ h.price[1] }}{{ currency|safe }}{% if h.code %}&nbsp;&nbsp;<span data-toggle="tooltip" data-placement="top" title="{{ h.code }}" class="label label-primary">DISCOUNT CODE</span>{% endif %}<br />
      {% endif %}

      {% if h.phone %}
      <i class="fa fa-phone"></i>&nbsp;&nbsp;{{ h.phone }}<br />
      {% endif %}

      {% if h.fax %}
      <i class="fa fa-fax"></i>&nbsp;&nbsp;{{ h.fax }}<br />
      {% endif %}

      <i class="fa fa-link"></i>&nbsp;&nbsp;<a href="{{ h.url }}">{{ h.domain }}</a>
    </div>
  </div>

  {% if loop.index % 3 == 0 %}
  </div>
  <div class="row">
  {% endif %}
  {% endfor %}
  </div>

  <hr />

  <h2 id="tourist">Tourist Info <small>Getting around</small></h2>

  <div class="row">
      <div class="col-md-12">
          <p>Politecnico di Milano in the north of Italy. Milan offers to
          its visitors both a vibrant business environment and a beautiful
          historical environment, with ancient buildings, cathedrals, and
          theaters.</p>

          <p>With a population of about 1.3 million, Milan, the capital of
          Lombardy, is located in the Po Valley, not far from the Alps with
          the great lakes (Lake Como, Lake Maggiore, Lake Lugano) to the
          North.  Milan is considered the Italian economic and finance
          center, with the headquarters of the Stock Exchange and of many of
          the most important industrial and financial businesses of the
          Country.  It is also the Italian symbol of fashion and design: it
          hosts many of the main Italian fashion maisons and international
          design fairs, such as "Settimana della Moda" (Milan Fashion Week)
          and the "Salone Internazionale del Mobile" (Milan Furniture Fair);
          also, a Design School operates at Politecnico di
          Milano. <a class="pull-right pull-right-image"
              href="http://www.turismo.milano.it/wps/wcm/connect/en/situr/home/artecultura/architettura/loc25"><img class="img-rounded"
              src="/static/img/castle.jpg" alt="Sforza Castle" /></a></p>

          <p>Milan hosts the "Teatro alla Scala", considered the temple of
          lyrics all over the world, and several prose theatres such as the
          "Piccolo Teatro" founded by Giorgio Strehler.</p>

          <p>In Milan are located the headquarters of the main daily
          newspapers (Il Corriere della Sera, Il Sole 24 Ore) and many of
          the main Italian publishers (Mondadori, Feltrinelli, Garzanti,
          Rizzoli).</p>

          <p>The city offers to visitors the possibility to admire a wide
          range of monuments, museums and buildings reflecting the vestiges
          of history and culture left by many people who lived here. The
          ancient Roman remains are preserved at the Colonne di San Lorenzo,
          whereas the Romanesque can be admired at Sant’Ambrogio,
          Sant’Eustorgio or San Simpliciano Basilicas. The Duomo is one of
          the largest cathedrals in the world and the most important example
          of Gothic architecture in Italy. The Castello Sforzesco, built on
          the wishes of the Duke Francesco Sforza, nowadays hosts the
          Michelangelo’s "Pietà Rondanini" and several museums. The church
          of Santa Maria delle Grazie hosts the famous masterpiece "The Last
          Supper" by Leonardo da Vinci - declared part of the World Heritage
          by UNESCO.</p>

          <p>The city has always participated actively to the National History
          since its origins, contributing to the purposes and the aims that
          led to reunification of Italy in the 18th century. Some
          distinguished people, who gave a significant contribution to
          Italian culture, lived in Milan, such as Leonardo da Vinci (who
          lived in Milan from 1482 to 1500), the poet and novelist
          Alessandro Manzoni, the musician Arturo Toscanini, the writer
          Carlo Emilio Gadda, the film director Luchino Visconti. Two Nobel
          prizes operated in Milan: Giulio Natta (1963, in chemistry) and
          Dario Fo (1997, in literature).</p>

          <p>Expo 2015 is the next scheduled Universal Exposition and between
          May 1st and October 31st 2015 will be hosted in Milan. The Expo
          goal is not only to show the latest advances in technology, but
          also to welcome and to interpret the new challenges that human
          mankind faces nowadays. A theme of Expo 2015 will be "Feeding the
          planet, energy for life".</p>
      </div>
  </div>

  <hr />

  {{ show_sponsors(6) }}

{%- endblock %}

{% block scripts %}
   {{ super() }}

  <script>
   $(function () {
      $('[data-toggle="tooltip"]').tooltip()
   })
  </script>
{% endblock scripts %}
